
/*
   SECTION: PREVIEW
 */

.slider_track {
  -fx-fill: #444444;
  -fx-stroke: #666666;
  -fx-stroke-width: 1px;
}

.slider_thumb {
  -fx-fill: #888888;
}

.previewGroup_bgRect {
  -fx-fill: #222222;
}

/*
   SECTION: OPEN CORPUS
*/

.open_corpus_file_selected {
  -fx-fill: #666666;
}

.open_corpus_file_file {
  -fx-fill: #444444;
}

.open_corpus_file_dir {
  -fx-fill: #444444;
}

.open_corpus_file_error {
  -fx-fill: #444444;
}

.open_corpus_file_file_l {
  -fx-font-size: 1.2em;
  -fx-text-fill: #00bb00;
}

.open_corpus_file_dir_l {
  -fx-font-size: 1.2em;
  -fx-text-fill: #aaaaff;
}

.open_corpus_file_error_l {
  -fx-font-size: 1.2em;
  -fx-text-fill: #ff0000;
}

.open_corpus_pwd {
  -fx-font-size: 2em;
  -fx-fill: #eeeeee;
}

.open_corpus_phase_font {
  -fx-font-size: 3em;
  -fx-fill: #eeeeee;
}


/*
   SECTION: VISUALIZATION
 */

.trash_alert {
  -fx-effect: dropshadow(three-pass-box, rgba(255, 0, 0, 1.0), 8, 0.5, 0, 0);
  -fx-stroke: red;
  -fx-stroke-width: 4px;
}

.no_trash_alert {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 1, 2);
  -fx-stroke: black;
  -fx-stroke-width: 1px
}

.invisible_rect {
  -fx-fill: none;
  -fx-stroke: none;
}

.graph_node {
  -fx-fill: rgba(255, 255, 255, 0.5);
  -fx-stroke: rgba(0, 0, 0, 0.5);
}

.header_font {
  -fx-font-size: 1.8em;
  -fx-fill: rgba(255, 255, 255, 0.7);
}

.header {
  /* -fx-background-color: rgba(255, 255, 255, 0.3); */
  -fx-background-color: rgba(0, 0, 0, 0.5);
}

/*
  SECTION: RADIAL MENU
 */

.radialmenu_expanded_circle {
  -fx-fill: radial-gradient(radius 200px, rgba(187, 187, 187, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.radialmenu_entry_function {
  -fx-fill: radial-gradient(radius 100px, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  -fx-stroke: white;
}

.radialmenu_entry_function_marked {
  -fx-fill: radial-gradient(radius 100px, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  -fx-stroke: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1.0), 8, 0, 0, 0);
}

.radialmenu_entry_function_text {
  -fx-text-fill: black;
  -fx-font-size: 1.2em;
}

.radialmenu_entry_displayable {
  -fx-fill: radial-gradient(radius 100px, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%);
  -fx-stroke: black;
}

.radialmenu_entry_displayable_marked {
  -fx-fill: radial-gradient(radius 100px, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%);
  -fx-stroke: black;
  -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 1.0), 14, 0.6, 0, 0);  /* white isn't that easily visible on a light gray background */
}

.radialmenu_entry_displayable_text {
  -fx-text-fill: white;
  -fx-font-size: 1.2em;
}


/* ID COLORS */

.no_id_assigned {
  -fx-background-color: #888888;
}

.id_0 {
  -fx-background-color: #6666cc;
}

.id_1 {
  -fx-background-color: #55aa55;
}

.id_2 {
  -fx-background-color: #bb5555;
}

.id_3 {
  -fx-background-color: #aa55aa;
}

.id_4 {
  -fx-background-color: #55aaaa;
}

.id_5 {
  -fx-background-color: #aaaa55;
}

.id_6 {
  -fx-background-color: #aa8855;
}

.id_7 {
  -fx-background-color: #8855aa;
}

.id_8 {
  -fx-background-color: #55aa88;
}

.id_9 {
  -fx-background-color: #88aa55;
}

.id_10 {
  -fx-background-color: #5588aa;
}

.id_11 {
  -fx-background-color: #aa5588;
}
