










/*
   SECTION: PREVIEW
 */

.slider_track {
  -fx-fill: gray;
}

.slider_thumb {
  -fx-fill: red;
}




/*
   SECTION: VISUALIZATION
 */

/* subsection: TextRoot */

.textRoot {
  -fx-background-color: lightgray;
}

.textRoot_string {

}